
@keyframes line {
    0%{
        width: 0%;
        left: 0;
    }
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}
@keyframes c1 {
    0%{
        scale: 1;
    } 
    100%{
        scale: 1.2;
    }
}
@keyframes c2 {
    0%{
        scale: 1;
    } 
    100%{
        scale: 1.2;
    }
}
@keyframes c3 {
    0%{
        scale: 1;
    } 
    100%{
        scale: 1.2;
    }
}
@keyframes c4 {
    0%{
        scale: 1;
    } 
    100%{
        scale: 1.2;
    }
}
