body,html{
    width: 100vw;
    height: 100vh;
    background-color: #efefef;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    height: 18vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-inline: 7vw; */
    padding-left: 7vw;
    padding-right: 15vw;
}
.header img{
    height: 65%;
}
.header ul li{
    list-style-type: none;
    display: inline-block;
}
.header ul  i{
    display: none;
}
.header ul li a{
    text-decoration: none;
    color: rgb(83, 83, 83);
    margin-inline: 40px;
    font-size: 18px;
    position: relative;
    transition:  1s;
}
.header ul li a::after{
    content: "";
    position: absolute;
    background-color: rgb(56, 56, 56);
    height: 2.2px;
    width: 0%;
    left: 0px;
    bottom:0px;
}
.header ul li a:hover::after{
    animation: line 1s;
}
.header ul li a:hover{
    color: rgb(165, 165, 165);
}
.content{
    height: 80%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-inline: 7vw;
    position: relative;
}
.left{
    /* background-color: green; */
    height: 50%;
    width: 45%;
    padding-top: 18vh ;  
}
.left h1{
   font-size: 40px;
   line-height:6vh;
}
.left h1 span{
    color: blueviolet;
    animation: color 12s infinite ;
}
.left p{
    font-size: 20px;
    width: 60%;
    margin: 20px 0px;
    color: rgb(111, 110, 110);
}
.left button{
    padding: 12px 15px;
    background-color: blueviolet;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: white;
    transition: 1s ;
    cursor: pointer;
    animation: btnbg 12s infinite;
}
.left button:hover{
    /* box-shadow: 2px 2px 10px blueviolet; */
    box-shadow: 2px 2px 10px rgb(49, 49, 49);
}
.center{
    /* background-color: blue; */
    width: 25%;
    position: relative;
    height: 100%;
  
}
.center img{
    height: 80%;
    filter: drop-shadow(10px 10px 50px rgba(167, 167, 167, 0.848));
    rotate: -20deg;
    transition: 1s ease-in-out;
}
.center img:hover{
    filter: drop-shadow(13px 13px  rgba(159, 157, 157, 0.953));
    rotate: 0deg;

}

.right{
    width: 17%;
    height: 100%;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circle{
    margin-block: 10px;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    transition: 550ms ease-in-out;
}
.circle img{
    transition: 550ms ease-in-out;
    position: absolute;
    height: 108%;
    bottom: 12px;
    right: 25px;
    rotate: -24deg;
}
::selection{
    background-color: rgb(133, 87, 176);
    color: black;
}
.circle:hover{
    scale: 1.2;
}
#circle1{
    background-color: blueviolet;
    animation: c1 3s ;
    
}
#circle2{
    animation: c2 3s ;
    animation-delay: 3s;
    background-color: rgb(214, 176, 79);
}
#circle3{
    animation: c3 3s ;
    animation-delay: 6s;
    background-color: rgb(219, 118, 35);
}
#circle4{
    animation: c4 3s ;
    animation-delay: 9s;
    background-color: rgb(187, 189, 191);

}

